<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devaning Optimization</title>
    <!-- 外部のCSSスタイルシートを読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-danger">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <strong>コンテナ納入最適化AIツール</strong>
            </a>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>