{% extends "cntr/base.html" %}
{% block content %}
<head>
    <title >倉庫納品最適化</title>
    <div class="center-text">
        <p><strong class="underline is-grey">OP01.納入最適化 計算指示画面</strong></p>
    </div>
    <a href="/wh/" class="button is-danger is-hoverable is-bold" style="float: right; margin: 10px 10px 0 0;">Warehouse Capacity</a>
</head>
<form method="post" enctype="multipart/form-data">
    <!--
    ここでフォームの内容を追加する場合、フォームフィールドを配置します。
    {{ form.as_p }} などを使ってフォームフィールドを表示できます。
    -->
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.errors }}  {# フォームのバリデーションエラーメッセージを表示 #}        
    <input type="submit" value="計算開始" class="button is-danger is-hoverable is-bold">
</form>
    
    <!-- ここに追加したいコンテンツを挿入 -->
{% endblock %}