{% extends "cntr/base.html" %}

{% load static %}
{% block content %}
<head>
    <title >カレンダー表示</title>
    <a href="/" class="button is-danger is-hoverable  is-inverted is-bold" style="margin: 10px 10px 0 0;">Back</a>
    <a href="/download_csv/" class="button is-danger is-hoverable is-bold" download="result.csv" style="float: right; margin: 10px 10px 0 0;">Download CSV</a>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
</head>

<body>
    <div id="calendar"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="{% static 'js/apps.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/ja.js"></script>
    <!-- モーダルウィンドウ用のHTMLコード -->
    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="eventModalTitle"></h2>
            <div id="eventModalContent"></div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ja',
                firstDay: 1,
                headerToolbar: {
                    left: "dayGridMonth,listMonth",
                    center: "title",
                    right: "today prev,next"
                },
                height: 'auto', // カレンダーの高さを自動調整
                width: 'auto', // カレンダーの高さを自動調整
                buttonText: {
                    today: '当月',
                    month: '月',
                    list: 'リスト'
                }, 
                events: {{ calendar_events|safe }},
                eventClick: function(info) {
                    var event = info.event;
                    var modal = document.getElementById('eventModal');
                    var modalTitle = document.getElementById('eventModalTitle');
                    var modalContent = document.getElementById('eventModalContent');
        
                    modalTitle.textContent = event.title;
                    modalContent.innerHTML = `
                        コンテナ番号: ${event.extendedProps.container_number}<br>
                        部署: ${event.extendedProps.department}<br>
                        納入倉庫: ${event.extendedProps.warehouse}<br>
                        入港日: ${event.extendedProps.arrival_date}<br>
                        希望納品日: ${event.extendedProps.desired_delivery_date}<br>
                        最適納品日: ${event.extendedProps.optimal_delivery_date}
                    `;
        
                    modal.style.display = 'block';
        
                    var closeButton = document.querySelector('.close');
                    closeButton.onclick = function() {
                        modal.style.display = 'none';
                    };
        
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = 'none';
                        }
                    };
                }
            });
            calendar.render();
        });
    </script>
</body>
{% endblock %}
